<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.corenet.yohady">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/yohady2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/yohady2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.corenet.yohady.ui.OrderSummaryActivity"></activity>

        <activity android:name="com.corenet.yohady.ui.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme"/>
        <activity
            android:name="com.corenet.yohady.ui.CheckoutActivity"
            android:exported="true" />
        <activity android:name="com.corenet.yohady.ui.CategoriesActivity" />
        <activity
            android:name="com.corenet.yohady.ui.ProductDetailActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity android:name="com.corenet.yohady.ui.ProductsActivity" />
        <activity
            android:name="com.corenet.yohady.ui.SplashActivity"
            android:exported="true"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.corenet.yohady.ui.CartActivity"
            android:exported="true" />
        <activity android:name="com.corenet.yohady.ui.ReviewActivity" />


    </application>

</manifest>